*{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
body{
    height: 100%;
}
h1{
    padding-top: 44px;
    font-family: 'KyivType Sans';
    font-weight: 500;
    font-size: 90px;
    line-height: 132.9%;
    text-transform: uppercase;
    white-space: nowrap;
    color: #F5F5F5;
    margin-bottom: 1.5em;
}
li{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 139.4%;
    color: #F5F5F5;
}
@font-face {
    font-family: 'KyivType Sans';
    src: url(../fonts/KyivTypeSans-VarGX.ttf);
}
@font-face {
    font-family: 'Inter';
    src: url(../fonts/Inter-VariableFont_slnt\,wght.ttf);
}
@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat-Regular.ttf);
}

.container{
    margin: 0 auto;
    background:
    url(../SVG/Vectors4.svg) left top,
    #222021;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
}
.main{
    flex: 1 1 auto;
}

/* header */
.header{
    background: #1E0C06;
    display: flex;
    border-radius: 0px 0px 79px 79px;
    box-shadow: 0px -8px 52px rgba(245, 245, 245, 0.17);
    padding-bottom: 30px;
    justify-content: space-between;
}
.header ul{
    display: flex;
    color: #F5F5F5;
}
.header li{
    padding: 30px;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

nav{
    display: flex;
    align-items: center;
}
.header-logo{
    margin-left: 8%;
    margin-top: 30px;
}
#active{
    color: #A3B8D7;
}
.header a{
    text-decoration: none;
    color: #F5F5F5;
}
.header-menu .icon{
    display: none;
}

/* contacts */
.contactinfo{
    color: #F5F5F5;
    margin: 180px auto 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.contactinfo h1{ 
    margin-bottom: 120px;
}
.contact-image img{
    max-width: 90%;
    height: auto;
}
.contactinfo li{
    display: flex;
    width: 22rem;
    margin-bottom: 33px;
    align-items: center;
}
.contact-text img{
    margin-right: 20px;
}

/* footer */
.footer{
    color: #F5F5F5;
    max-width: 100%;
    min-height: 301px;
    background: #222021;
    box-shadow: 0px -6px 52px rgba(245, 245, 245, 0.17);
}
.contactinfo-footer{
    margin-left: 8%;
    margin-top: 70px;
    display: flex;
    align-items: center;

}
.contactinfo-footer-contacts ul{
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
}
.contactinfo-footer-contacts li{
    margin-left: 9rem;
    display: flex;
    white-space: nowrap;
    align-items: center;
    font-size: 30px;
}
.contactinfo-footer-contacts li:first-child{
    margin-bottom: 25px;
}
.contactinfo-footer-contacts img{
    margin-right: 10px;
}
.privacy{
    margin-top: 60px;
    margin-left: 8%;
    font-family: 'Inter';
    font-size: 20px;
    line-height: 139.4%;
    margin-bottom: 20px;
}
@media screen and (max-width: 1280px){
    /* orher */
    h1{
        font-size: calc(30px + (45 + 45 * 0.7) * ((100vw - 375px)/1440))
    }   
    li{
        font-size: calc(15px + (15 + 15 * 0.7) * ((100vw - 375px)/1440));
    }
    .footer li{
        font-size: calc(15px + (15 + 15 * 0.7) * ((100vw - 375px)/1440));
    }
    /* header */
    .header li{
        padding: 20px;
    }
    /* contacts */
    .contactinfo h1{
        margin-bottom: 60px;
    }
}
@media screen and (max-width: 992px) {  
    /* header */
    .header li{
        padding: 15px;
    }
    .topnav{
        padding-top: 22px;
    }
    .topnav a{
        display: none;
    }
    .topnav .icon{
        position: absolute;
        display: block;
        right: 60px;
    }
    .header-logo img{
        width: 106px;
        height: 45px;
    }
    .topnav.responsive{
        margin-top: 90px;
        display: flex;
        flex-direction: column-reverse;
    }
    .topnav.responsive a{
        display: flex;
    }
    .topnav.responsive li:last-child{
        position: absolute;
        top: 24px;
        right: -190px;
        padding-top: 26px;
    }
    .topnav.responsive li{
        margin-right: 190px;
        width: 190px;
    }
    .topnav li:last-child a{
        max-width: 50px;
        max-height: 25px;
    }
    .topnav .icon span,.topnav .icon span::after, .topnav .icon span::before{
        position: absolute;
        top: 50%;
        width: 23px;
        height: 2px;
        background: #F5F5F5;
        margin-top: -1px;
        left: 50%;
        margin-left: -10%;
        border-radius: 15%;
    }
    .topnav .icon span::after, .topnav .icon span::before{
        content: '';
    }
    .topnav .icon span::after{
        width: 50%;
        margin-left: 0;
        transform: translateY(7px);;
    }
    .topnav .icon span::before{
        transform: translateY(-7px);
        width: 50%;
        margin-left: 0;
        left: 0;
    }
    /* contacts */
    .contactinfo{
        flex-direction: column;
        align-items: center;
        margin-top: 80px;
    }
    .contact-image{
        display: flex;
        justify-content: center;
    }

    /* footer */
    .contactinfo-footer {
    flex-direction: column;
    margin-top: 50px;
    }
    .contactinfo-footer-contacts ul{
        margin-top: 3rem;
        display: block;
    }
    .privacy{
        display: flex;
        justify-content: center
    }
    .contactinfo-footer-contacts li{
        margin-left: 3rem;
    }
}
@media screen and (max-width: 576px) {
    /* header */
    .header{
        border-radius: 0px 0px 60px 60px;
    }
    /* contacts */
    .contactinfo{
        margin-top: 60px;
    }
    .contact-text img{
        width: 32px;
        height: 32px;
    }
    /*footer*/
    .privacy{
        font-size: 11px;
    }
    .contactinfo-footer-contacts img{
        width: 24px;
        height: 24px;
    }
    .contactinfo-footer-logo img{
        width: 162px;
        height: 69px;
    }
}